/* Tags */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

img {
  width: 100%;
}

.separation {
  height: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

/* Navigation Bar */

.nav {
  margin-top: 10px;
  width: 100%;
}

.nav-logo {
  display: flex;
  justify-content:space-between;
  padding: 0px 80px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #F5F5F5;
}

.logoC {
  width: 45px;
  height: 45px;
  margin-left: 5%;
  margin-right: 20px;
}

.robertiniste {
  font-family: 'Fascinate Inline', cursive;
  text-align: center;
  line-height: 20px;
}

.robertiniste h2 {
  font-size: 40px;
  margin-bottom: 25px;
}

.robertiniste h1 {
  font-size: 48px;
}

.newsletter {
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  margin-top: 10px;
}

.newsletter span {
  margin-left: 5px;
  margin-right: 5%;
  font-size: 14px;
}

.navbar {
  display: flex;
  justify-content: center;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  padding: 20px;
  
}

.navbar ul li {
  margin: 10px;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 1px solid black;
  transform: scale(0.9);
}

.newsletter-text a:hover {
  border-bottom: 1px solid black;
  transform: scale(0.9);
}

.flex {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

/* Sections and Articles */

.flex-box {
  display: flex;
}

.flex-box img {
  max-height: 100px;
  margin-right: 10px;
}

.secondary-right .flex-box img {
  /*max-height: 50px;*/
}

.section-title {
  font-family: 'Ms Madi', cursive;
  text-align: center;
  margin: 10px 5%;
  padding: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.articles {
  /*grid-column: 2/5;
  grid-row: 2/3;*/
  margin: 2.5px 5%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
 /* border: 1px solid black;*/
}

.box-text {
  font-family: 'Roboto', sans-serif;
}

.main-recent {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.principal {
  grid-column: 2/3;
  padding: 0px 20px;
}

.article-title {
  font-weight: 400;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 2px;
}

.flex-box .article-title {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.article-title:hover {
  text-decoration: underline;
}

.article-preview {
  font-weight: 300;
  margin-bottom: 15px;
}

.flex-box .article-preview {
  font-size: 0.95rem;
  margin-bottom: 5px;
}

.article-author {
  font-weight: 600;
  margin-bottom: 15px;
}

.flex-box .article-author{
  font-size: 0.95rem;
}

.secondary-left {
  grid-column: 1/2;
  padding: 5px;
}

.secondary-left .article-title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.secondary-left .article-preview {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.secondary-left .article-author{
  font-size: 0.9rem;
}

.secondary-right {
  grid-column: 3/4;
  padding: 5px;
  
}

.secondary-right .box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secondary-right .article-title {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.secondary-right .article-preview {
  font-size: 0.7em;
  margin-bottom: 5px;
}

.secondary-right .article-author{
  font-size: 0.6rem;
}


/* Culture Section*/

.culture {
  margin: 2.5px 5%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.culture-article {
  margin: 10px;
}

.culture-article .first {
  grid-column: 1/2;
  padding: 5px;
}

.culture-article .second {
  grid-column: 2/3;
  padding: 5px;
}

.culture-article .third {
  grid-column: 3/4;
  padding: 5px;
}

.culture-article .fourth {
  grid-column: 4/5;
  padding: 5px;
}

.culture-article .article-title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.culture-article .article-preview {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.culture-article .article-author{
  font-size: 0.9rem;
}

/* Fiction Section*/

.fiction {
  margin: 2.5px 5%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.fiction-article {
  margin: 10px;
}

.fiction-article .first {
  grid-column: 1/2;
  padding: 5px;
}

.fiction-article .second {
  grid-column: 2/3;
  padding: 5px;
}

.fiction-article .third {
  grid-column: 3/4;
  padding: 5px;
}

.fiction-article .fourth {
  grid-column: 4/5;
  padding: 5px;
}

.fiction-article .article-title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.fiction-article .article-preview {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.fiction-article .article-author{
  font-size: 0.9rem;
}

/* Footer Section */
.footer {
  background-color: #000;
  color: #F5F5F5;
  height: 100%;
}

.footer-robertiniste {
  font-family: 'Fascinate Inline', cursive;
  text-align: center;
  line-height: 20px;
  margin-bottom: 40px;
  padding-top: 40px;
}

.footer-robertiniste h2 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #F5F5F5;
}

.footer-robertiniste h1 {
  font-size: 28px;
  color: #F5F5F5;
}

.footer .separation {
  height: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  margin-bottom: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.footer-links {
  padding-bottom: 50px;
}

.footer-links p {
  margin-left: 2.5%;
}

.footer-links ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0px 2.5%;
}

.footer-links li {
  margin-left: 2.5%;
  color: #F5F5F5;
  font-size: 12px;
}

.footer-links p {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
}

.footer-links p a {
  color: #F5F5F5;
}

.footer-links img {
  height: 20px;
}

.social-networks  {
  list-style-type: none;
  display: flex;
  justify-content: center !important;
  margin: 0px 2.5%;
}

.footer-links p a:hover {
  border-bottom: 1px solid #F5F5F5;
  transform: scale(0.9);
}

/* Articles */

.article {
  margin: 20px 5%;
}

.article .image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.article img {
  width: 60%;
  align-self: center;
  /*max-width: 600px;*/
}

.article .image-container span {
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 0px;
  font-size: 18px;
  color: #FCBA03;
}

.article .image-container .credits {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.article .image-container .credits .credits-text {
  font-size: 14px;
  margin-left: 10px;
  color: #000;
}

.article .title {
  width: 60%;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

.article .text-title {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 60px;
}

.article .text {
  font-size: 18px;
  margin-bottom: 60px;
  font-weight: 200;
}

.article p {
  margin: 20px 20%;
  line-height: 30px;
}

.article .metadata {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.article .metadata p {
  margin: 0px;
  margin-left: 20%;
  font-size: 14px;
  text-align: left;
}

.article .metadata .author {
  font-weight: 800;
}

.article .metadata .date {
  font-weight: 200;
  margin-left: 5px;
}

.article .separation {
  margin: 0px 20%;
  margin-bottom: 50px;
  margin-top: -30px;
}

.article .text-title {
  color: #FCBA03;
}

.article .author-box {
  margin-top: 40px;
}

.article .author-box span {
  font-weight: bold;
}

.article .author-box p {
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 1.5%;
  font-size: 12px;
  padding: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
}

.article .share-icons {
  display: flex;
  margin-top: -30px;
  margin-left: 20%;
  margin-bottom: 40px;
}

.article .share-icons img {
  width: 20px;
  margin: 0px 5px;
}

.article .share-icons .link-icon:hover {
  width: 22px;
}

.article .share-icons .facebook-link:hover {
  width: 22px;
}

.article .share-icons .twitter-link:hover {
  width: 22px;
}
